header {
    background-color: var(--primary-color);
    height: 92px;
    display: flex;
    justify-content: space-around;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 1540px;
}
.logo .logo-text-banana-commerce {
    color: var(--secundary-color);
    font-size: 25px;
    font-weight: bold;
}
.logo .logo-text-banana-commerce span {
    color: var(--tertiary-color);
}
.icon-banana-commerce {
    display: none;
    color: var(--secundary-color);
    font-size: 30px;
    font-weight:bold;
    border: 3px solid var(--secundary-color);
    border-radius: 3px;
    width: 38px;
    height: 38px;
    text-align: center;
}
.container-search-field {
    display: flex;
    margin-left: 100px;
    width: 100%;
}
.select-label {
    height: 40px;
    background-color: var(--tertiary-color);
    border-radius: 5px 0px 0px 5px;
    border: none;
    border-right: 1px solid #d6d6d6;
    font-size: 12px;
    padding-top: 1px;
    flex-grow: 1;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: 8px;
    padding-left: 18px;
}
.select-label svg {
    margin-left: 10px;
}
.container-search-field select {
    height: 40px; 
    border-radius: 5px 0px 0px 5px;
    border: none;
    border-right: 1px solid var(--quartenary-color);
    font-size: 12px;
    flex-grow: 1;
    cursor: pointer;
    position: absolute;
    margin-top: -40px;
    opacity: 0;
    color:var(--quartenary-color);
    font-size: 13px;
    padding: 0 10px;
}
.select-input-wrap, .select-input-pist {
    display: flex;
    flex-grow: 20;
}
.container-search-field input {
    height: 40px;
    border: none;
    font-size: 12px;
    padding-left: 14px;
    padding-top: 1px;
    width: 100%;
}
.container-search-field button {
    border-radius: 0px 5px 5px 0px;
    border: none;
    height: 40px;
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    font-weight: bold;
    width: 90px;
}
.icon-buttons-header {
    display: flex;    
    justify-content: flex-end;
    flex-grow: 1;
}.icon-buttons-header > ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.icon-buttons-header > ul li {
    margin-left: 35px;
}
.icon-buttons-header ul li div > svg {
    font-size: 27px;
    color: var(--secundary-color);
}
.register-login {
    display: flex;
    align-items: center;
}
.register-login p {
    color: var(--secundary-color);
    margin-left: 10px;    
    font-size: 13px;
    font-weight: bold;
}
.btn-compare-container > span {
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    margin-top: 15px;
    margin-left: -10px;
}
.btn-favorite-container > span {
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    margin-top: 15px;
    margin-left: -13px;
}
.btn-cart-container > span {
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    margin-top: 15px;
    margin-left: -5px;
}
.ul-popover-cart {
    position: absolute;
    width: 85px;
    list-style: none;
    height: 28px;  
    margin-left: -29px; 
}
.cart-popover {
    position: absolute;
    width: 305px;
    background-color: white;
    border: 1px solid #d6d6d6;
    font-size: 12px;
    color: var(--quartenary-color);
    right: -90px;
    margin-top: 26px;
    padding: 10px;
    transition: all 0.3s;
}
.cart-popover > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 162px;
}
.no-products-label {
    display: none;
    padding: 5px;
}
.cart-popover-disable {
    opacity: 0;
    visibility: hidden;
}
.wrap-subtotal-cart-popover {
    padding: 10px;
    margin-top: 25px;
}
.wrap-label-subtotal-cart-popover {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.wrap-label-subtotal-cart-popover > span {
    display: contents;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.label-total-cart-popover {
    color: var(--featured-color);
}
.wrap-btns-subtotal-cart {
    display: flex;
    justify-content: space-between;   
}
.wrap-btns-subtotal-cart button {
    height: 35px;
    width: 120px;
    border-radius: 3px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.wrap-btns-subtotal-cart button:hover {
    background-color:#e2a704
}

@media only screen and (max-width: 1199px) {/*{lg} - pattern bootstrap */
    .icon-buttons-header > ul li {
        margin-left: 25px;
    }
    .container-search-field {
        margin-left: 60px;
    }
}
@media only screen and (max-width: 991px) {/*{medium}*/
    .container-search-field {
        display: none;        
    }
    .ul-popover-cart {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .register-login p {
        display: none;
    }
}
@media only screen and (max-width: 575px) {
    .logo .logo-text-banana-commerce {
        font-size: 20px;
    }
}
@media only screen and (max-width: 469px) {
    .icon-banana-commerce {
        display: block;
    }
    .logo-text-banana-commerce {
        display: none;
    }
}