nav {
    height: 53px;
    background-color: var(--primary-color);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
}
.container-navbar {
    display: flex;
    align-items: center;
    width: var(--grid-layout);
    padding: 0 20px;
}
.menu-navigation {
    margin-left: 65px;
}
.menu-navigation > ul {
    list-style: none;
    display: flex;
}
.menu-navigation > ul > li {
    margin-right: 60px;
    font-size: 16px;
    color: var(--secundary-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}
.menu-navigation ul li svg {
    font-size: 12px;
    margin-left: 7px;
}
.menu-navigation > ul > li > a {
    color: var(--secundary-color);
}
.menu-navigation > ul > li > a > span {
    width: 50px;
    transition: all 0.2s;
}
#li-home::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #000;
    transition: all 0.5s ease 0s;
    margin-top: -26px;
}
#li-shop::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #000;
    transition: all 0.5s ease 0s;
    margin-top: -26px;
}
#li-pages::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #000;
    transition: all 0.5s ease 0s;
    margin-top: -26px;
}#li-blog::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #000;
    transition: all 0.5s ease 0s;
    margin-top: -26px;
}
.font-weight-bold {
    font-weight: 700;
}

/*dropdown do menu*/
.container-dropdown  {
    display: flex;
    padding: 25px;
    border: 1px solid #d6d6d6;
    background-color: white;        
}
.container-dropdown  > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;    
}
.container-dropdown  ul {
    list-style: none;
    margin-right: 50px;
}
.container-dropdown  ul li {
    margin-bottom: 14px;
    font-size: 14px;
}
.container-dropdown  ul li a {
    color: var(--secundary-color);
    transition: all 0.3s;
}
.container-dropdown  ul li a:hover {
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.container-dropdown  ul span {
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
}
/*menu-dropdown-li-shop*/
#wrap-dropdown-li-shop {
    position: absolute;
    margin-left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 16px;    
}
#wrap-dropdown-li-shop > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 115px;
}
/*menu-dropdown-li-pages*/
#wrap-dropdown-li-pages {
    position: absolute;
    margin-left: 75px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 16px;    
}
#wrap-dropdown-li-pages > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 170px;
}
/*menu-dropdown-li-pages*/
#wrap-dropdown-li-blog {
    position: absolute;
    margin-left: 100px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 16px;    
}
#wrap-dropdown-li-blog > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 260px;
}
.menu-dropdown-active {
    opacity: 1 !important;
    visibility: visible !important;
}

/* menu aside */
.wrap-menunavigation-menuaside {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.menuaside-navbar {
    display: flex;  
}
.item-menuaside-navbar {
    display: flex;
}
.itemcontainer-menuaside-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 25px;
}
.itemcontainer-menuaside-navbar a {
    display: flex;
}
.itemcontainer-menuaside-navbar span {
    font-size: 14px;
    color: var(--secundary-color);
}
.itemcontainer-menuaside-navbar svg {
    font-size: 10px;
    margin-left: 5px;
    color: var(--secundary-color);
}
.itemcontainer-menuaside-navbar img {
    margin-right: 5px;
}
.separator-item-menuaside-navbar::after {
    content: " ";
    background-color: black;
    padding: 1px;
}
.especial-padding {
    padding: 0 0 0 25px !important;
}

/* currence menu options */
#wrap-currence-options {
    position: absolute;
    margin-left: 323px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 14px;
    margin-top: 20px;
}
#wrap-currence-options span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 60px;
}
.container-dropdown-currence  {
    display: flex;
    padding: 15px;
    border: 1px solid #d6d6d6;
    background-color: white;        
}
.container-dropdown-currence  > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;    
}
.container-dropdown-currence  ul {
    list-style: none;
}
.container-dropdown-currence  ul li {
    margin-bottom: 14px;
    font-size: 14px;
    cursor: pointer;
}
#trigger-currence-options {
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* language menu options */
#wrap-language-options {
    position: absolute;
    margin-left: 444px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 14px;
    margin-top: 20px;
}
#wrap-language-options span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 60px;
}
.container-dropdown-language  {
    display: flex;
    padding: 15px;
    border: 1px solid #d6d6d6;
    background-color: white;        
}
.container-dropdown-language  > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;   
}
.container-dropdown-language  ul {
    list-style: none;
}
.container-dropdown-language  ul li {
    margin-bottom: 14px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.container-dropdown-language  ul li img {
    padding-right: 7px;
}
#trigger-language-options {
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* ------------------------------------ */
.wrap-options-active {
    opacity: 1 !important;
    visibility: visible !important;
}
