nav {
    height: 53px;
    background-color: var(--primary-color);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
}
.container-navbar {
    display: flex;
    align-items: center;
    width: var(--grid-layout);
    padding: 0 20px;
}
.menu-navigation {
    margin-left: 65px;
}
.menu-navigation > ul {
    list-style: none;
    display: flex;
}
.menu-navigation > ul > li {
    margin-right: 60px;
    font-size: 16px;
    color: var(--secundary-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}
.menu-navigation ul li svg {
    font-size: 12px;
    margin-left: 7px;
}
.menu-navigation > ul > li > a {
    color: var(--secundary-color);
}
.menu-navigation > ul > li > a > span {
    width: 50px;
    transition: all 0.2s;
}
#li-home::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #000;
    transition: all 0.5s ease 0s;
    margin-top: -26px;
}
#li-shop::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #000;
    transition: all 0.5s ease 0s;
    margin-top: -26px;
}
#li-pages::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #000;
    transition: all 0.5s ease 0s;
    margin-top: -26px;
}#li-blog::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #000;
    transition: all 0.5s ease 0s;
    margin-top: -26px;
}
.font-weight-bold {
    font-weight: 700;
}

/*dropdown do menu*/
.container-dropdown  {
    display: flex;
    padding: 25px;
    border: 1px solid #d6d6d6;
    background-color: white;        
}
.container-dropdown  > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;    
}
.container-dropdown  ul {
    list-style: none;
    margin-right: 50px;
}
.container-dropdown  ul li {
    margin-bottom: 14px;
    font-size: 14px;
}
.container-dropdown  ul li a {
    color: var(--secundary-color);
    transition: all 0.2s;
}
.container-dropdown  ul li a:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.container-dropdown  ul span {
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
}
/*menu-dropdown-li-shop*/
#wrap-dropdown-li-shop {
    position: absolute;
    margin-left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 16px;    
}
#wrap-dropdown-li-shop > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 115px;
}
/*menu-dropdown-li-pages*/
#wrap-dropdown-li-pages {
    position: absolute;
    margin-left: 75px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 16px;    
}
#wrap-dropdown-li-pages > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 170px;
}
/*menu-dropdown-li-pages*/
#wrap-dropdown-li-blog {
    position: absolute;
    margin-left: 100px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    padding-top: 16px;    
}
#wrap-dropdown-li-blog > span {
    padding: 7px;
    background-color: white;
    border-left: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 260px;
}
.menu-dropdown-active {
    opacity: 1 !important;
    visibility: visible !important;
}

