:root {
  --primary-color: #fcb800;
  --secundary-color: black;
  --tertiary-color: white;
  --quartenary-color: #666666;
  --featured-color: #f14705;
  --price-cart-name-primary-color: #669900;
  --title-products-primary-color: #0066cc;

  --grid-layout: 1540px;
}
button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
a {
    text-decoration: none;
}
.spinner-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.spinner {
  font-size: 40px;
}